    
    <div class="container-fluid">
        <div class="row">
            <form action="/signup" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label for="userName">
                        Name: <input required="required" id="userName" name="name" type="text" value={{name}} >
                    </label>
                    <span>
                        {{error.name}}
                    </span>
                </div>
                <div class="form-group">
                    <label for="userEmail">
                        Email: <input id="userEmail" name="email" type="text" value={{email}} >
                    </label>
                </div>
                <div class="form-group">
                    <label for="userAddress">
                        Address: <input id="userAddress" name="address" type="text" value={{address}} >
                    </label>
                </div>
                <div class="form-group">
                    <label for="userProfileImage">
                        Image: <input id="userProfileImage" name="profileImage" type="file" >
                    </label>
                </div>

                <div class="form-group">
                    <label for="userProfileImage">
                        Agree Terms: <input id="terms" name="terms" type="checkbox" value="yes" required="required">
                    </label>
                </div>
                <hr>
                <button class="btn btn-success" type="submit">SignUp</button>
            </form>
        </div>
        <hr >
        <div class="row">
            <ul>
                {{#each users}}
                    <li>{{this.name}}</li>
                    <img width="100" alt="profile-image" src="./{{this.profileImage}}" />
                {{/each}}
            </ul>
        </div>
    </div>

    <script>
        console.log('signup page')
    </script>